.sidebarPages {
  position: relative;
}

.sidebarPage {
  position: absolute;
  inset: 0;
}

.sidebarPageHidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.sidebarPageActive {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}