.list {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
  padding-left: 32px;
  scroll-snap-type: x mandatory;
  margin-right: -24px;
}

.viewProfile {
  width: 100%;
  max-width: 200px;
  margin: 12px auto 0;
  text-align: center;
  height: 64px;
  border-radius: 100px;
}

.buttonRow{
  display: flex;
  justify-content: center;
}

.error {
  color: white;
}

