.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex: 1;
    height: 100%;
    margin: 56px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}