.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex: 1
}


.content {
    display: flex;
    flex: 1;
    margin: 16px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    overflow: none;
    overflow-y: auto;
}