.container {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.title {
    font-size: 28px;
    margin-bottom: 25px;
}

.description {
    margin-bottom: 25px;
}