.button {
    display: flex;
    flex: 1;
    padding: 18px 16px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    box-shadow: 4px 8px 24px 0 hsl(from var(--color-primary) h s l / 25%);
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff3b5a;
}