.card {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  gap: var(--space-px-4);
  border-radius: 8px;
  border: 1px solid  #424242;
  background: var(--Greyscale-900, #212121);
  font-family: var(--secondary-font-family);
  padding: 24px;
}

.title {
  color: white;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;

}

.subtitle {
  color:  #757575;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.2px;

}

.highlight {
  color: #9D28AC;
}