.row {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-px-12);
  border-radius: 8px;
  border: 1px solid rgba(54, 54, 54, 0.50);
  background: linear-gradient(88deg, rgba(66, 66, 66, 0.00) 0%, rgba(66, 66, 66, 0.30) 49.99%, rgba(66, 66, 66, 0.00) 99.02%);
  max-width: 100%;
  width: fit-content;
  padding: 12px 16px;
  text-align: left;
  font-family: var(--secondary-font-family);
  cursor: pointer;
  transition: transform 300ms ease, box-shadow 300ms ease, border-color 300ms ease;
}

.row:hover {
  transform: translateY(-2px);
  border-color: color-mix(in srgb, var(--color-primary-500) 50%, transparent 50%);

  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.textBlock {
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: var(--space-px-4);
}

.title {
  align-self: stretch;
  color: var(--Others-White, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.subtitle {
  color: var(--Greyscale-600, #757575);
  align-self: stretch;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.arrowArea {
  padding: 8px;
}

.arrow {
  width: 75px;
  gap: var(--space-px-8);
  display: inline-flex;
  border-radius: 100px;
}

.arrow :global(.pill-button) {
  background: linear-gradient(250deg, #212121 8.83%, #383838 13.08%, #333 23.52%, #2E2E2E 35.88%, #141414 61.39%, #292929 89.22%);
  border: none;
}