.button {
  background: linear-gradient(#424242, #1c1c1c);
  border: 1px solid hsla(0, 0%, 26%, 0.423);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: clip;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px -4px 4px hsla(0, 0%, 0%, 0.5);
  align-items: center;
  z-index: 6;
  cursor: pointer;
}

.large {
  width: 4rem;
  height: 4rem;
}

.small {
  width: 2rem;
  height: 2rem;
}

.label {
  opacity: 0;
  max-width: 0;
  max-height: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 300ms ease, max-width 150ms ease;
}

.expanded {
  width: auto;
  height: 2.5rem;
  border-radius: 2rem;
  padding: 0 1rem;
  gap: 8px;
  background: linear-gradient(hsla(0, 0%, 26%, 0.2), hsla(0, 0%, 11%, 0.2));
  backdrop-filter: blur(6px);
  box-shadow: inset -3px 3px 2px -3px #ffffff9d, 0px 4px 4px hsla(0, 0%, 0%, 0.4);
  font-size: 13px;
}

.labelVisible {
  opacity: 0.85;
  max-width: 10rem;
  max-height: unset;
  overflow: visible;
  font-size: 1rem;
  color: #fff;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .expanded {
    height: 2rem;
    padding: 0 1rem;
    font-size: 11px;
  }

  .labelVisible {
    font-size: 1rem;
  }
}

@media (min-width: 32rem) {
  .button {
    transition: all 100ms ease-in-out;
  }

  .large:hover {
    width: 14rem;
    height: 4rem;
    border-radius: 2rem;
    transition: all 200ms ease-in-out;
    box-shadow: inset -3px 3px 2px -3px #ffffff9d, 0px 6px 4px hsla(0, 0%, 0%, 0.5);
    aspect-ratio: unset;
    display: flex;
    align-items: center;
    gap: var(--space-px-8);
    transform: scale(1.1) translateY(0.2rem);
    background: linear-gradient(hsla(0, 0%, 26%, 0.2), hsla(0, 0%, 11%, 0.2));
    backdrop-filter: blur(6px);
  }

  .small:hover {
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;
    transition: all 200ms ease-in-out;
    box-shadow: inset -3px 3px 2px -3px #ffffff9d, 0px 6px 4px hsla(0, 0%, 0%, 0.5);
    aspect-ratio: unset;
    display: flex;
    align-items: center;
    gap: var(--space-px-8);
    transform: scale(1.1) translateY(0.2rem);
    background: linear-gradient(hsla(0, 0%, 26%, 0.2), hsla(0, 0%, 11%, 0.2));
    backdrop-filter: blur(6px);
  }

  .button:hover .label {
    opacity: 0.7;
    max-width: 8rem;
    transition: all 200ms ease-out;
    font-size: 14px;
    overflow-y: hidden;
  }
}
