.welcome-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  flex: 1
}

.content {
  display: flex;
  flex: 1;
  z-index: 1;
  width: 90%;
  max-width: 400px;
  margin-top: 56px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.profile-container {
  display: flex;
  margin: 0 auto 20px auto;
}

.join-text {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-text a {
  color: #ff4d6d;
  text-decoration: none;
  font-weight: bold;
}

.call-buttons {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: center;
}

/* Responsividade para desktop */
@media (min-width: 1024px) {
  .content {
    max-width: 600px;
  }

  .profile-container {
    width: 200px;
    height: 200px;
  }

  .join-text {
    font-size: 26px;
  }

  .brand {
    font-size: 42px;
  }

  .email-button {
    font-size: 18px;
    padding: 16px 30px;
  }
}