.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: var(--max-chat-content-width);
  height: 100vh;
  padding: 32px;
}

.list {
  margin-top: 32px;
  display: flex;
  gap: var(--space-px-16);
  overflow-x: auto;
  scrollbar-width: none;
  padding-left: 32px;
  scroll-snap-type: x mandatory;
  margin-right: -24px;
}

.edgeFade {
  mask-image: linear-gradient(90deg, black 90%, transparent);
}

.chatButton {
  width: 100%;
  max-width: 200px;
  margin: 12px auto 0;
  text-align: center;
  height: 64px;
  border-radius: 100px;
}

.buttonRow {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}