.text-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-dark-2);
    border-radius: 12px;
    outline: 1px solid transparent;
    transition: outline-color 0.2s ease-in-out;
}

.text-input-container:focus-within {
    outline: 1px solid var(--color-primary);
}

.text-input-container:hover {
    outline: 1px solid var(--color-primary);
}

.text-input-container input {
    display: flex;
    flex: 1;
    padding-top: 18px;
    padding-bottom: 18px;
}

.text-input-container input::-moz-selection {
    background-color: transparent;
    border: none;
}

.text-input-container input::selection {
    background-color: transparent;
    border: none;
}

.text-input-container input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.text-input-container .icon {
    display: flex;
    height: 20px;
    width: 20px;
}

.text-input-container .icon.left {
    margin: 0 12px 0 20px;
    color: var(--color-text-secondary);
}

.text-input-container .icon.right {
    margin: 0 20px 0 12px;
    color: var(--color-text-secondary);
}

.input-right-padding {
    padding-right: 20px;
}

.input-left-padding {
    padding-left: 20px;
}