.background-gradient {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(circle at 5% 5%,
      rgba(255, 77, 109, 0.25),
      transparent 40%),
    radial-gradient(circle at 95% 10%,
      rgba(255, 120, 50, 0.15),
      transparent 20%),
    radial-gradient(circle at 90% 100%,
      rgba(255, 77, 109, 0.2),
      transparent 40%),
    radial-gradient(circle at 5% 90%, rgba(255, 77, 109, 0.2), transparent 20%),
    radial-gradient(circle at center, rgba(30, 33, 39, 0.85), #1e2127 90%);
}

@media (max-width: 767px) {
  .background-gradient {
    background: none;
    background-color: #181a20;
  }
}