.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content {
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 60%;
    max-width: 900px;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.content::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

@media (max-width: 767px) {
    .content {
        position: relative;
        margin: 32px;
        width: calc(100% - 64px);
    }
}