.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: rgba(33, 33, 33, 1);
    border-right: 1px solid rgba(66, 66, 66, 1);
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
}

@media (max-width: 1024px) {
    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }

    .content {
        padding: 8px;
    }
}