.dashboard-list-card-item {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    gap: 16px;
    align-items: center;
}

.left-side img {
    border-radius: 24px;
    height: 48px;
    width: 48px;
}