.hidden {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.chatInfluencerBar {
  background: rgba(0, 0, 0, 0);
  min-height: 109px;
  display: grid;
  width: 100%;
}

.influencerTop {
  background: linear-gradient(180deg,
      oklch(0% 0 0) 0%,
      oklch(0% 0 0) 50%,
      oklch(28.094% 0.00003 271.152) 100%);
  min-height: 4rem;
  position: relative;
  overflow: clip;
  display: grid;
  align-items: center;
  padding: 0 var(--space-px-24);
}

.influencerStatsContainer {
  z-index: 5;
  margin-top: -1rem;
}

.influencerStatsRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-content: space-between;
}

.leftCol {
  display: flex;
  gap: var(--space-px-8);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftCol p {
  color: white;
  margin-block: unset;
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.0125rem;
}

.leftCol p.statusText {
  max-width: 12px;
  background-color: var(--alerts-status-success, oklch(80.036% 0.18204 151.736));
  overflow: clip;
  color: transparent;
  border-radius: 10px;
  max-height: 16px;
  mask-image: linear-gradient(45deg, hsla(0, 0%, 0%, 0.208), hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0.208));
}

.middleCol {
  width: auto;
}

.rightCol {
  display: grid;
  gap: var(--space-px-8);
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.relationshipStatusLabel {
  display: none;
}

  .relationshipStatus svg {
    width: 1.2rem;
    height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
  }

.circleGlowContainer {
  position: absolute;
  bottom: -90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glowStatusWhite {
  background-color: oklch(100% 0.00011 271.152 / 0.5);
  opacity: 0.8;
  background-blend-mode: soft-light;
  filter: blur(2px);
  width: 94px;
  height: 96px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  animation: glowPulse01 8s ease 0s infinite normal none;
}

.glowStatusCircle02 {
  background: oklch(84.351% 0.10356 58.156 / 0.7);
  opacity: 0.8;
  background-blend-mode: soft-light;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  position: absolute;
  filter: blur(10px);
  z-index: 1;
  animation: glowPulse02 8s ease 0s infinite normal none;

}

.glowStatusCircle {
  opacity: 0.8;
  width: 144px;
  height: 121px;
  border-radius: 50%;
  filter: blur(25px);
  z-index: 0;
  background-color: var(--glowColor);
  transition: background-color 200ms ease-in-out;
  /* be specific */
  animation: glowPulse02 8s ease 0s infinite normal none;
}

.glowStatusCircleDefault {
  --glowColor: hsla(338, 100%, 51%, 0.9);
}

.glowStatusCircleAdult {
  --glowColor: hsla(279, 100%, 50%, 0.9);
}

/** animations 🎥 **/
@keyframes glowPulse01 {
  0% {
    transform: scale(0.80) translateY(1%);
    filter: blur(1px);
  }

  50% {
    transform: scale(0.88) translateY(0%);
    filter: blur(2px);
  }

  100% {
    transform: scale(0.80) translateY(1%);
    filter: blur(1px);
  }
}


@keyframes glowPulse02 {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.5);
  }
}




.influencerBottom {
  z-index: 6;
  backdrop-filter: blur(4px);
}

.profileContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.profileLeftCol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;

  background-color: #4ade80;
  width: 90%;
  margin-right: -80%;
  margin-top: -3.5rem;
  gap: var(--space-px-8);
  border-radius: 5rem 0 0 5rem;
  border: 1px solid rgba(66, 66, 66, 0.5);
  background: rgba(33, 33, 33, 0.8);
  padding: 0.4375rem 2rem 0.4375rem 0.8rem;
  backdrop-filter: blur(2px);
  box-shadow: 8px 8px 12px hsla(0, 0%, 0%, 0.47);

  /* outline: 1px solid orange; */
}

.profileMidCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2.9rem;
  z-index: 2;
}

.profileRightCol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  width: 90%;
  margin-left: -80%;
  margin-top: -3.5rem;
  gap: var(--space-px-8);
  border-radius: 0 5rem 5rem 0;
  border: 1px solid rgba(66, 66, 66, 0.5);
  background: rgba(33, 33, 33, 0.8);
  padding: 0.4375rem 0.8rem 0.4375rem 2rem;
  backdrop-filter: blur(2px);
   box-shadow: -8px 8px 12px hsla(0, 0%, 0%, 0.47);
}

.profileImage {
  width: 5.4375rem;
  height: 5.4375rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.4rem solid var(--Greyscale-800, #424242);
}

.profileVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.profileSwitch {
  background: linear-gradient(#424242, #1c1c1c);
  border: 1px solid hsla(0, 0%, 26%, 0.423);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-top: -0.75rem;
  overflow: clip;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px -4px 4px hsla(0, 0%, 0%, 0.5);
  align-items: center;
  z-index: 1;
}

.switchProfileLabel {
  opacity: 0;
  max-width: 0;
  max-height: 1rem;
  overflow-x: hidden;
  transition: all 300ms ease, max-width 150ms ease;
}

.profileSwitchAdult {
  opacity: 0;
  pointer-events: none;
}

.profileMetricContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-px-4);
  width: auto;
  justify-content: center;
  align-items: center;
}

.metricLabel {
  display: none;
}

.profileMetricContainer img {
  width: 30px;
  height: 30px;
}

/*** media query Desktop ***/
@media (min-width: 32rem) {
  .chatInfluencerBar {
    width: 100%;
  }

  .circleGlowContainer {
    left: 49.75%;
    transform: translateX(-49.75%);
    bottom: -70%;
  }

  .influencerTop {
    min-height: 5rem;


  }

  .influencerStatsRow {
    max-width: calc(var(--max-chat-content-width) + 22px);
    margin: 0 auto;
  }

  .leftCol {
    justify-content: flex-start;
  }

  .leftCol p {
    font-size: 1.25rem;
  }

  .leftCol p.statusText {
    max-width: unset;
    background-color: transparent;
    opacity: 0.7;
    font-size: 12px;
    align-items: center;
    color: var(--alerts-status-success, oklch(80.036% 0.18204 151.736));
    padding: var(--space-px-12);
    border-radius: 20px;
    border: 1px solid var(--alerts-status-success, oklch(80.036% 0.18204 151.736 / 0.5));
    display: flex;
    mask-image: unset;
  }

  .relationshipStatus {
    min-width: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-px-8);
    border: 1px solid rgba(66, 66, 66, 0.5);
    border-radius: 2rem;
    padding: 0.25rem 1rem;
  }

  .relationshipStatus svg {
    width: 1rem;
    height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.5);
  }

  .relationshipStatusLabel {
    display: flex;
    font-size: 1rem;
    opacity: 0.5;
  }

  .profileContainer {
    width: 40rem;
    margin: 0 auto;
  }

  .profileSwitch {
    transition: all 100ms ease-in-out;
  }

  .profileSwitch:hover {
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;
    transition: all 200ms ease-in-out;
    box-shadow: inset -3px 3px 2px -3px #ffffff9d, 0px 6px 4px hsla(0, 0%, 0%, 0.5);
    aspect-ratio: unset;
    display: flex;
    align-items: center;
    gap: var(--space-px-8);
    transform: scale(1.1) translateY(0.2rem);
    background: linear-gradient(hsla(0, 0%, 26%, 0.2), hsla(0, 0%, 11%, 0.2));
    backdrop-filter: blur(6px);
  }

  .profileSwitch:hover .switchProfileLabel {
    opacity: 0.7;
    max-width: 8rem;
    transition: all 200ms ease-out;
    font-size: 14px;
  }

  .profileMetricContainer {
    gap: var(--space-px-8);
  }

  .profileLeftCol,
  .profileRightCol {
    gap: var(--space-px-16);
    width: 120%;
  }



  .metricLabel {
    display: flex;
    font-size: 0.8rem;
    opacity: 0.5;
  }
}