.chat-screen-content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.chat-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}

.chat-header-info {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    padding: 10px 0;
}

.chat-messages-container {
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.chat-messages-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.chat-messages-container::before,
.chat-messages-container::after {
    content: "";
    position: sticky;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 5;
}

.chat-messages-container::before {
    display: flex;
    top: 0;
    height: 100px;
}

.chat-messages-container::after {
    display: flex;
    bottom: 0;
    height: 100px;
}

.chat-input-area {
    position: fixed;
    bottom: 0dvh;
}

.chat-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-self: center;
    margin-top: 10px;
}

.chat-user-name {
    text-align: center;
    margin: 10px 0;
}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 15px;
}

.empty-chat-screen {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media (min-width: 1080px) {
    .chat-container {
        padding: 0;
    }

    .chat-header-info {
        display: flex;
        flex: 1;
        flex-direction: row;
        padding: 10px 0;
        gap: 12px;
        align-items: center;
    }

    .chat-content {
        max-width: 100%;
        padding: 25px;
    }

    .chat-avatar {
        width: 70px;
        height: 70px;
    }

    .chat-user-name {
        font-size: 22px;
        margin: 15px 0;
    }

    .message {
        font-size: 16px;
    }
}