.chat-screen-content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chat-header {
    display: flex;
    position: fixed;
    background-color: var(--color-dark-1);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    width: 100%;
}

.chat-header-info {
    display: flex;
    padding: 10px 20px;
    width: 100%;
    justify-content: center;
    max-width: var(--max-chat-content-width);
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    justify-content: space-between;
}

.profile-info {
    display: flex;
}

.chat-header-info>.profile-info:only-child {
    margin: 0 auto;
}

.chat-header-actions {
    align-content: center;
    justify-content: center;
}

.chat-messages-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 150px;
    margin-bottom: 120px;
}

.chat-messages-container.loading {
    align-items: center;
}

.chat-input-area {
    position: fixed;
    width: 100%;
    bottom: 0dvh;
}

.admin-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.clear-history-button {
    cursor: pointer;
}

.chat-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-self: center;
    margin-top: 10px;
}

.chat-user-name {
    margin: 10px 0;
}

.chat-user-name h3 {
    text-align: start;
}

.chat-user-name p {
    font-size: small;
}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: var(--max-chat-content-width);
    margin-top: 32px;
}

.messages>*+* {
    margin-top: 24px;
}

.messages> :global(.message.sent)+ :global(.message.sent),
.messages> :global(.message.received)+ :global(.message.received) {
    margin-bottom: 10px;
}

.empty-chat-screen {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media (min-width: 1024px) {
    .chat-messages-container {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .chat-container {
        padding: 0;
    }

    .chat-header {
        position: relative;
        display: flex;
        background-color: transparent;
    }

    .chat-content {
        max-width: 100%;
        padding: 25px;
    }

    .chat-avatar {
        width: 70px;
        height: 70px;
    }

    .chat-user-name {
        font-size: 22px;
        margin: 15px 0;
    }

    .message {
        font-size: 16px;
    }
}