.chat-screen-content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chat-header {
    display: flex;
    position: fixed;
    background-color: var(--color-dark-1);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    width: 100%;
}

.chat-messages-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-top: -60px;
    padding-bottom: 20dvh;

    max-width: var(--max-chat-content-width);
    width: 100%;
}

.chat-messages-container.loading {
    align-items: center;
}

.chat-input-area {
    position: fixed;
    width: 100%;
    bottom: 0dvh;
}

.messages {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    max-width: var(--max-chat-content-width);
    padding: 28px;
}

.messages>*+* {
    margin-top: 24px;
}

.messages> :global(.message.sent)+ :global(.message.sent),
.messages> :global(.message.received)+ :global(.message.received) {
    margin-bottom: 10px;
}

.empty-chat-screen {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media (min-width: 1024px) {
    .chat-messages-container {
        padding-top: 0px;
        padding-bottom: 20dvh;
        mask-image: linear-gradient(180deg, black 80%, transparent 88%, transparent);

    }

    .chat-container {
        padding: 0;
    }

    .chat-header {
        position: relative;
        display: flex;
        background-color: transparent;
    }

    .chat-content {
        max-width: 100%;
        padding: 25px;
    }

    .message {
        font-size: 16px;
    }
}