.chat-header-info {
  display: flex;
  padding: 10px 20px;
  width: 100%;
  justify-content: center;
  background: oklch(0% 0 0);
}

.profile-info {
  display: flex;
}

.chat-header-info>.profile-info:only-child {
  margin: 0 auto;
}

.chat-header-inner {
  display: flex;
  grid-area: 16px;
  max-width: var(--max-chat-content-width);
}

.chat-header-actions {
  flex-direction: row;
  display: flex;
  align-content: center;
  justify-content: center;
}

.admin-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.clear-history-button {
  cursor: pointer;
}

.chat-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-self: center;
  margin-top: 10px;
}

.chat-user-name {
  margin: 10px 0;
}

.chat-user-name h3 {
  text-align: start;
}

.chat-user-name p {
  font-size: small;
}

@media (min-width: 1024px) {
  .chat-avatar {
    width: 70px;
    height: 70px;
  }

  .chat-user-name {
    font-size: 22px;
    margin: 15px 0;
  }
}