.messages {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    max-width: var(--max-chat-content-width);
    padding: var(--space-px-20);
   
}



.messages>*+* {
    margin-top: 24px;
}