.adultModeToggleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 var(--space-px-12);
  gap: var(--space-px-12);
  min-width: 200px;
  border-radius: 74px;
  border: 1px solid rgba(66, 66, 66, 0.50);
  background: #212121;
}

.minutesArea {
  display: flex;
  height: 42px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.minutesArea span {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;

}

.minutesEnabled span {
  color: var(--color-purple-light);
}

.minutesDisabled span {
  color: var(--color-purple-disabled);
  
  text-decoration: line-through;
}


.toggleArea {
  display: flex;
  align-items: center;
  gap: var(--space-px-12);
  height: 30px;
  width: 80px;
  translate: 4px -1px;
  margin-left: 20px;
  position: relative;
}

.pill {
  cursor: pointer;
  background: #585858;
  border-radius: 999px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.80) inset;
  position: relative;
  height: 30px;
  width: 80px;
}

.pillActive {
  border: solid 1px #FFFFFF33;
  border-radius: 17px;
  background: linear-gradient(90deg, #3A0058 0%, #500078 61.06%, #7600B1 80.29%, #47006B 100%);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.20), 0 0 7px 2px #AF11FF;
  box-shadow: 2px 12px 34px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 2px 12px 34px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 2px 12px 34px 0px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 0 18px #AF11FF;
}

.pillLabel {
  position: absolute;
  background: #585858;
  border-radius: 999px;
  padding: 12px 18px;
  display: flex;
  top: -2px;
  left: -20px;
  align-items: center;
  justify-content: space-between;
  background: #7000A8;
  border: solid 1px #42424280;
  border-radius: 100px;
  color: #FFFFFF99;
  background: linear-gradient(250deg, #7000A8 8.83%, #6D00A3 13.08%, #609 23.52%, #A300F5 35.88%, #5F008F 61.39%, #580085 89.22%);
  box-shadow: -4px -4px 1px -4px rgba(180, 104, 255, 0.55) inset, 5px 3px 3px -4px #BE7FFD inset, -14px -7px 1px -15px #A54CFE inset, -12px -9px 2px -10px rgba(185, 115, 255, 0.50) inset, 13px 9px 1px -11px rgba(255, 255, 255, 0.15) inset, 9px 10px 1px -11px #A54CFE inset;
  transition: left 0.3s ease-in-out, box-shadow 0.25s ease, color 0.25s ease;
  box-shadow: inset 0 0 10px #000000CC;
  height: 34px;
  width: 54px;
  font-size: 14px;
}

.pillLabelActive {
  color: #FFFFFF;
  left: calc(100% - 50px);
}

.rightIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  color: #1f2023;
  position: absolute;
  top: 50%;
  left: calc(90% - 17px - 10px);
  transform: translateY(-50%);
  transition: left 0.3s ease-in-out, box-shadow 0.25s ease, color 0.25s ease, background 0.25s ease;
}

.rightIconActive {
  color: #f0ddff;
  left: 9px;
}

.iconMuted {
  background: #3c3d43;
  color: #1f2023;
}

.iconActive {
  background: radial-gradient(circle at 30% 30%, #caa1ff 0%, #9f4bff 60%, #6518cc 100%);
  color: #f0ddff;
  box-shadow: 0 0 18px rgba(163, 85, 255, 0.6);
}

.lipsIcon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}