.container {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 30px;
  width: 80px;
  position: relative;
}

.pill {
  cursor: pointer;
  background: #585858;
  border-radius: 999px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  box-shadow: inset 0 0 10px #000000CC;
  position: relative;
  height: 30px;
  width: 80px;
}

.pillActive {
  background: #3A0058;
  box-shadow: 2px 12px 34px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 2px 12px 34px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 2px 12px 34px 0px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 0 18px #AF11FF;
}

.pillLabel {
  position: absolute;
  background: #585858;
  border-radius: 999px;
  padding: 12px 18px;
  display: flex;
  top: -2px;
  left: -10px;
  align-items: center;
  justify-content: space-between;
  background: #7000A8;
  border: solid 1px #42424280;
  background: linear-gradient(45deg, rgba(112, 0, 168, 1) 0%, rgba(109, 0, 163, 1) 34%, rgba(102, 0, 153, 1) 45%, rgba(163, 0, 245, 1) 60%, rgba(95, 0, 143, 1) 79%, rgba(88, 0, 133, 1) 100%);
  transition: left 0.3s ease-in-out, box-shadow 0.25s ease, color 0.25s ease, background 0.25s ease;
  box-shadow: inset 0 0 10px #000000CC;
  height: 34px;
  width: 54px;
}

.pillLabelActive {
  left: calc(90% - 17px - 10px);
}

.rightIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  color: #1f2023;
  position: absolute;
  top: 50%;
  left: calc(90% - 17px - 10px);
  transform: translateY(-50%);
  transition: left 0.3s ease-in-out, box-shadow 0.25s ease, color 0.25s ease, background 0.25s ease;
}

.rightIconActive {
  color: #f0ddff;
  left: 10px;
}

.iconMuted {
  background: #3c3d43;
  color: #1f2023;
}

.iconActive {
  background: radial-gradient(circle at 30% 30%, #caa1ff 0%, #9f4bff 60%, #6518cc 100%);
  color: #f0ddff;
  box-shadow: 0 0 18px rgba(163, 85, 255, 0.6);
}

.lipsIcon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}