.stat-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-px-20);
    margin-bottom: 20px;
}

.chart {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.list-section {
    display: grid;
    gap: var(--space-px-20);
    grid-template-columns: repeat(2, 1fr);
}