/* .tm-income-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 16px 80px;
  margin: 18px;
  background: rgba(46, 45, 45, 0.6);
  border: 1px solid rgba(79, 71, 71, 0.8);
  padding: 20px;
} */


.tm-income-cta-card-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem;
  border-radius: 32px;
  background: rgba(30, 25, 28, 0.35);
  border: 1px solid rgb(255 255 255 / 15%);
  backdrop-filter: blur(10px);

  z-index: 2;

}

.tm-income-card {
  width: 100%;

  padding: 3rem 1.7rem;
  border-radius: 25px;
  background: rgba(29, 29, 29, 0.6);
  border: 1px solid rgba(79, 71, 71, 0.6);
  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
}


.tm-income-card:before {
  content: '';
  background-image: url(/src/assets/image/noise-bg.jpg);
  background-repeat: repeat;
  background-size: 20rem;
  background-blend-mode: luminosity;
  filter: invert(1);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 25px;
  opacity: 0.5;
  mask-image: linear-gradient(0deg, black 0%, transparent 90%);
  user-select: none;
}

/* Icon */
.tm-income-icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.tm-income-icon {
  width: 42px;
  height: 42px;
  filter: drop-shadow(0 5px 8px rgba(255, 79, 129, 0.8));
}

/* Title */
.tm-income-title {
  color: rgba(255, 255, 255, 0.75);

  text-align: center;
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  /* 143.75% */
  max-width: 24ch;
  margin: 0 auto;
}

.tm-income-title strong {
  font-weight: 700;
  color: #ffffff;
}

/* Divider */
.tm-income-divider {
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.087);
  margin: 2rem auto;
}

/* Button */
.tm-income-button {

  width: 100%;
  border: none;
  border-radius: 999px;

  padding: 18px 26px;
  /* mais alto, como o Figma */
  font-size: 18px;
  font-weight: 600;
  color: #fff;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;


  /* ★ MULTI-GRADIENT EXACT DO FIGMA ★ */
  background: linear-gradient(180deg,
      #d90048 0%,
      #d70048 16%,
      #cc0044 33%,
      #ff276f 50%,
      #c20041 72%,
      #b5003c 100%);

  transition: transform 0.15s ease, filter 0.25s ease;
}

.tm-income-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 16px 34px rgba(255, 79, 129, 0.55);
}

.tm-income-arrow {
  font-size: 20px;
}


@media (min-width: 26.9375rem) {

  .tm-income-title {
    font-size: 1.7rem;
  }



  .tm-income-cta-card-wrapper {
    max-width: 46rem;
    margin-bottom: 6rem;
  }

}