.profile-picture {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 56px;

}

.profile-nickname {
    max-width: 16rem;
}

.profile-row02 {
    display: grid;
    grid-template-columns: 1fr;
   gap: var(--space-px-32);

}

.section-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

.section-body {
    display: flex;
    flex-direction: column;
    gap: var(--space-px-24);
    justify-content: center;
    margin-bottom: 12px;
}

.delete-account-section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.profile-delete-account {
    color: hsl(0, 100%, 69%);
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.payment-row {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
   gap: var(--space-px-16);
}

.payment-row> :first-child {
    max-height: 40.4px;
}

.paypal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.button-paypal {
    display: inline-flex;
    background: hsl(42, 100%, 61%);
    border-radius: 6.25rem;
    -webkit-box-shadow: inset 0 2px 0 0 hsla(42, 0%, 100%, .41),
        inset -9px -6px 0 -6px hsl(0deg 0% 100% / 52%);
    box-shadow: inset 0 2px 0 0 hsla(42, 0%, 100%, .41),
        inset -9px -6px 0 -6px hsl(0deg 0% 100% / 52%);
    border: 1px solid hsl(42, 69%, 52%);
    color: hsl(0, 0%, 0%);
    font-size: 1rem;
    padding: 1 1.2rem;
    margin-bottom: 0;
    justify-content: center;
    margin-bottom: 0.25rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


.powered-by-paypal {
    display: flex;
    flex-direction: row;
    align-items: center;
   gap: var(--space-px-8);
}


.powered-by-paypal p {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 0.7rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

}

.paypal-logo {
    height: 1.25rem;
}



.button-row {
    margin-bottom: 56px;
}

.update-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem;
    align-items: center;
    justify-items: center;
    margin-bottom: 32px;
}

.profile-cancel {
    color: lch(100% 0.01 296.81);
    opacity: 0.5;
}


/*** media query Desktop ***/
@media (min-width: 32rem) {

    .profile-row02 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .payment-row {
        grid-template-columns: 1fr 1fr;
    }
}