.profile-picture {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 56px;
}

.section-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

.section-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin-bottom: 12px;
}

.delete-account-section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.button-row {
    display: none;
    margin-bottom: 56px;
}